*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
html {
  font-size: 62.5%;
}
body {
  padding: 5rem 0;
}

.container {
  width: 60vw;
  margin: 0.2em auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-auto-rows: 6rem;
  /* grid-auto-flow: dense; */
  grid-gap: 1rem;
}

.large,
.small {
  height: 100%;
  width: 100%;
  grid-column: span 1;
}

.large {
  grid-row: span 6;
}

.small {
  grid-row: span 3;
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
